[Unit]
Description=Retreive searxng secrets
# Need to wait for network but user services cannot wait on system services like network-online.target
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_runner_home }}/.config/bws/env
ExecStart=/usr/bin/bash -c "bws secret get {{ searxng_jwt_secret }} | jq -r '.value' | podman secret create --replace searxng_secret -"
RemainAfterExit=yes
