[Unit]
Description=Retreive searxng secrets
# Need to wait for network but user services cannot wait on system services like network-online.target
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_data_path }}/.config/bws/env
ExecStart=/usr/bin/bash -c "bws secret get 0632763e-7472-42af-b3e4-b2b500e2023a | jq -r '.value' | podman secret create --replace searxng_secret -"
RemainAfterExit=yes
