[Unit]
Description=SearXNG Pod
Requires=caddy.service searxng-get-secrets.service
After=caddy.service searxng-get-secrets.service

[Pod]
Network={{ evilwoods_container_network }}.network

[Service]
Restart=always

[Install]
WantedBy=default.target
