#!/usr/bin/env bash

set -euo pipefail

bws secret get {{ evilcloud_kitchenowl_jwt_secret_id }} | jq -j '.value' | \
podman secret create --replace {{ kitchenowl_jwt_secret_name }} -

bws secret get {{ kitchenowl_oidc_client_id }} | jq -j '.value' | \
podman secret create --replace {{ kitchenowl_oidc_client_name }} -

bws secret get {{ kitchenowl_oidc_client_secret_id }} | jq -j '.value' | \
podman secret create --replace {{ kitchenowl_oidc_client_secret_name }} -

bws secret get {{ kitchenowl_oidc_client_secret_hash_id }} | jq -j '.value' | \
podman secret create --replace {{ kitchenowl_oidc_client_secret_hash_name }} -
