[Unit]
Description=Kitchenowl Backup Service
Conflicts={{ kitchenowl_service_name }}
After={{ kitchenowl_service_name }}
OnSuccess={{ kitchenowl_service_name }}
OnFailure={{ kitchenowl_service_name }}

[Service]
Type=oneshot
ExecStart={{ kitchenowl_script_d }}/{{ kitchenowl_backup_script }}

