[Unit]
Description=ntfy service
After=caddy.service

[Container]
AutoUpdate=registry
Image={{ ntfy_image }}
Exec=serve
Network={{ evilwoods_container_network }}.network

[Service]
Restart=always

[Install]
WantedBy=default.target
