[Unit]
Description=Caddy container service

[Container]
Image=docker.io/library/caddy:2.9
Hostname=caddy
PublishPort=8080:80
PublishPort=8443:443

[Install]
WantedBy=default.target
