[Unit]
Description={{ authelia_app_name }} container service.

[Container]
AutoUpdate=registry
EnvironmentFile={{ authelia_env_file }}
Image={{ authelia_image }}
Secret={{ authelia_session_secret_name }}
Secret={{ authelia_storage_encryption_key_name }}
Secret={{ authelia_notifier_smtp_password_name }}
Volume={{ authelia_config_path }}:/config:Z
Pod={{ authelia_app_name }}.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
