[Unit]
Description={{ authelia_app_name }} pod service.

[Pod]
Network={{ evilwoods_container_network }}.network

[Service]
EnvironmentFile={{ evilwoods_runner_home }}/.config/bws/env
ExecStartPre={{ authelia_volume_path }}/{{ authelia_get_secrets_script_name }}
Restart=always

[Install]
WantedBy=default.target
