[Unit]
Description={{authelia_app_name}} valkey container service.

[Container]
AutoUpdate=registry
Image={{ authelia_valkey_image }}
Volume=authelia-valkey-data.volume:/data:Z,U
Pod={{ authelia_app_name }}.pod

[Service]
Restart=always
