users:
  aitvaras:
    disabled: false
    displayname: 'Aitvaras Sttagent'
    password: '$argon2id$v=19$m=65536,t=3,p=4$9KaOTkeXIc9KwnGrKJ0W6w$WNhMZB5PpUYbosICjOtz6UKxeTeLuIyLEpERwgAHP/A'
    email: 'aitvaras.sttagent@authelia.com'
    groups:
      - 'admins'
      - 'dev'
