[Unit]
Description={{ authelia_app_name }} container service.

[Container]
AutoUpdate=registry
Environment=AUTHELIA_SESSION_SECRET_FILE=/run/secrets/{{ authelia_session_secret_name }}
Environment=AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/run/secrets/{{ authelia_storage_encryption_key_name }}
Environment=AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/run/secrets/{{ authelia_notifier_smtp_password_name }}
Image={{ authelia_image }}
Secret={{ authelia_session_secret_name }}
Secret={{ authelia_storage_encryption_key_name }}
Secret={{ authelia_notifier_smtp_password_name }}
Volume={{ authelia_config_path }}:/config:Z
Pod={{ authelia_app_name }}.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
