AUTHELIA_SESSION_SECRET_FILE=/run/secrets/{{ authelia_session_secret_name }}
AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/run/secrets/{{ authelia_storage_encryption_key_name }}
AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/run/secrets/{{ authelia_notifier_smtp_password_name }}
AUTHELIA_OIDC_HMAC_SECRET_FILE=/run/secrets/{{ authelia_identity_providers_oidc_hmac_secret_name }}
