[Unit]
Description=Caddy HTTP/2 web server
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Container]
Image=docker.io/library/caddy:2.9
AutoUpdate=registry
Volume={{ evilwoods_caddy_volume_config_path }}:/etc/caddy:Z
Volume=caddy_data.volume:/data
PodmanArgs=--volumes-from=systemd-nextcloud-server:z
PublishPort=8080:80
PublishPort=8443:443
Network=evilcloud.network
IP={{ evilwoods_caddy_ip }}

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
