[Unit]
Description={{ caddy_app_name }} container service.
Wants=cloudflared.service
After=cloudflared.service

[Container]
AutoUpdate=registry
Image={{ caddy_image }}
Volume={{ evilwoods_caddy_volume_config_path }}:/etc/caddy:Z
Volume=caddy_data.volume:/data
Volume=nextcloud.volume:/var/www/html:z
PodmanArgs=--volumes-from=systemd-nextcloud-server:z
PublishPort=8080:80
PublishPort=8443:443
Network={{ evilwoods_container_network }}.network
IP={{ evilwoods_caddy_ip }}

[Service]
Restart=always

[Install]
WantedBy=default.target
