[Unit]
Description={{ caddy_app_name }} container service.
Wants=cloudflared.service
After=cloudflared.service

[Container]
AutoUpdate=registry
Image={{ caddy_image }}
Volume={{ evilwoods_caddy_config_volume }}:/etc/caddy:Z
Volume={{ caddy_data_volume }}:/data:Z,U
# TODO: mount volume read only and see if nothing breaks
PublishPort=8080:80
PublishPort=8443:443
Network={{ evilwoods_container_network }}.network
IP={{ evilwoods_caddy_ip }}

[Service]
Restart=always

[Install]
WantedBy=default.target
