[Unit]
Description=Retreive Cloudflare Tunnel token
# Need to wait for network but user services cannot wait on system services like network-online.target
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_data_path }}/.config/bws/env
ExecStart=/usr/bin/bash -c "bws secret get 500e590e-ba6a-491e-b428-b2a800ff4c5a | jq -r '.value' | podman secret create --replace cloudflared_tunnel_token -"
RemainAfterExit=yes
