[Unit]
Description=Cloudflare Tunnel
Requires=cloudflared-get-secret.service
After=cloudflared-get-secret.service
Before=caddy.service

[Container]
AutoUpdate=registry
Image=docker.io/cloudflare/cloudflared:latest
Secret=cloudflared_tunnel_token,type=env,target=TUNNEL_TOKEN
Exec=tunnel run
Network=host

[Service]
Restart=always

[Install]
WantedBy=default.target
