[Unit]
Description=Retreive {{ cloudflared_app_name }} secrets.
# Need to wait for network but user services cannot wait on system services like network-online.target
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_runner_bw_config_path }}/env
ExecStart=/usr/bin/bash -c "bws secret get {{ cloudflare_bw_token_id }} | jq -r '.value' | podman secret create --replace cloudflared_tunnel_token -"
RemainAfterExit=yes
