[Unit]
Description={{ fusion_app_name }} Container Service

[Container]
AutoUpdate=registry
Image={{ fusion_image }}
Volume={{ fusion_data_volume }}:/data:Z,U
Network={{ evilwoods_container_network_file }}

[Service]
Restart=always

[Install]
WantedBy=default.target
