[Unit]
Description=Valkey Container Service

[Container]
AutoUpdate=registry
Image={{ searxng_valkey_image }}
Volume=searxng-valkey-data.volume:/data:Z,U
Pod={{ searxng_app_name }}.pod

[Service]
Restart=always
