source {{ evilwoods_runner_home }}/.config/bws/env
export BWS_ACCESS_TOKEN

export RESTIC_RETENTION_POLICY="--keep-daily 30 --keep-monthly 24"

export RESTIC_REPOSITORY={{ restic_backup_repo }}
export RESTIC_PASSWORD=$(bws secret get {{ restic_backup_repo_password_id }} | jq -j '.value')
export AWS_ACCESS_KEY_ID=$(bws secret get {{ restic_backup_aws_access_key_id }} | jq -j '.value')
export AWS_SECRET_ACCESS_KEY=$(bws secret get {{ restic_backup_aws_secret_access_key }} | jq -j '.value')

