#!/usr/bin/bash

# Get OIDC secrets
bws secret get {{ miniflux_oidc_client_id }} | jq -r '.value' | podman secret create --replace {{ miniflux_oidc_client_id_name }} -
bws secret get {{ miniflux_oidc_client_secret_id }} | jq -r '.value' | podman secret create --replace {{ miniflux_oidc_client_secret_name }} -
bws secret get {{ miniflux_oidc_client_secret_hash_id }} | jq -r '.value' | podman secret create --replace {{ miniflux_oidc_client_secret_hash_name }} -

