{
    http_port 8080
    https_port 8443
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

http://test.evilwoods.net {
    respond "Hello, World! (http)"
}

https://test.evilwoods.net {
    respond "Hello, World! (https)"
}
