#!/usr/bin/env bash

set -euo pipefail

bws secret get {{ actual_oidc_client_id }} | jq -j '.value' | \
podman secret create --replace {{ actual_oidc_client_id_name }} -

bws secret get {{ actual_oidc_client_secret_id }} | jq -j '.value' | \
podman secret create --replace {{ actual_oidc_client_secret_name }} -

bws secret get {{ actual_oidc_client_secret_hash_id }} | jq -j '.value' | \
podman secret create --replace {{ actual_oidc_client_secret_hash_name }} -
