[Unit]
Description={{ immich_app_name }} valkey Container/Service

[Container]
AutoUpdate=registry
Image=docker.io/valkey/valkey:8-alpine
Volume=immich-valkey-data.volume:/data
Pod=immich.pod

[Service]
Restart=on-failure
