[Unit]
Description={{ immich_app_name }} postgresql Container/Service

[Container]
AutoUpdate=registry
Environment=POSTGRES_PASSWORD={{ immich_db_password }}
Environment=POSTGRES_USER={{ immich_db_user }}
Environment=POSTGRES_DB={{ immich_db_name }}
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0
Volume={{ immich_db_data_volume }}:/var/lib/postgresql/data:Z

Pod=immich.pod
