[Unit]
Description=Cloudflare Tunnel
After=network.target
Before=caddy.service

[Container]
Image=docker.io/cloudflare/cloudflared:latest
Exec=cloudflared tunnel --no-autoupdate --config /etc/cloudflared/config.yml
Network=host

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
