<?php

$CONFIG = Array(
    'trusted_proxies' => [ '127.0.0.1' ],
    'trusted_domains' => [ 'systemd-caddy', 'localhost', 'nextcloud.test.evilwoods.net'],
    'forwarded_for_headers' => ['HTTP_X_FORWARDED_FOR'],
);
