<?php

$CONFIG = Array(
    'trusted_proxies' => ['127.0.0.1', 'localhost' ],
    'trusted_domains' => ['localhost', 'nextcloud.test.evilwoods.net'],
    'forwarded_for_headers' => ['HTTP_X_FORWARDED_FOR'],
);
