[Unit]
Description={{ nextcloud_app_name }} postgresql container

[Container]
Environment=POSTGRES_PASSWORD=nextcloud
Environment=POSTGRES_USER=nextcloud
Environment=POSTGRES_DB=nextcloud
Image=docker.io/library/postgres:17-alpine
UserNS=keep-id:uid=70,gid=70
Volume={{ nextcloud_db_data_volume }}:/var/lib/postgresql/data:Z

Pod=nextcloud.pod
