[Unit]
Description=Nextcloud Pod

[Pod]
AddHost=nextcloud.test.evilwoods.net:{{ evilwoods_caddy_ip }}
Network={{ evilwoods_container_network }}.network

[Service]
Restart=always

[Install]
WantedBy=default.target
