[Unit]
Description=Nextcloud FPM Container
Wants=nexcloud-postgresql.service nextcloud-valkey.service
After=nexcloud-postgresql.service nextcloud-valkey.service

[Container]
AutoUpdate=registry
Environment=NEXTCLOUD_TRUSTED_DOMAINS: nextcloud.test.evilwoods.net
Environment=POSTGRES_HOST=systemd-nextcloud-postgresql
Environment=POSTGRES_USER=nextcloud
Environment=POSTGRES_PASSWORD=nextcloud
Environment=POSTGRES_DB=nextcloud
Environment=REDIS_HOST=systemd-nextcloud-valkey
Image=docker.io/library/nextcloud:31-fpm-alpine
Volume=nextcloud.volume:/var/www/html:z
Volume={{ nextcloud_config_volume }}/evilwoods.config.php:/var/www/html/config/evilwoods.config.php:Z
Pod=nextcloud.pod
