[Unit]
Description=ntfy service
After=caddy.service

[Container]
Image=docker.io/binwiederhier/ntfy:v2.11.0
Exec=serve
PublishPort={{ ntfy_port }}:80

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
