[Unit]
Description=ntfy service
After=caddy.service

[Container]
AutoUpdate=registry
Image=docker.io/binwiederhier/ntfy:v2.11.0
Exec=serve
Network={{ evilwoods_container_network }}.network

[Service]
Restart=always

[Install]
WantedBy=default.target
