[Unit]
Description={{ immich_app_name }} postgresql Container/Service

[Container]
Environment=POSTGRES_PASSWORD={{ immich_db_password }}
Environment=POSTGRES_USER={{ immich_db_user }}
Environment=POSTGRES_DB={{ immich_db_name }}
Environment=POSTGRES_INITDB_ARGS=--data-checksums
Image={{ immich_postgresql_image }}
Volume={{ immich_postgresql_volume }}:/var/lib/postgresql/data:Z

Pod=immich.pod
