[Unit]
Description={{ immich_app_name }} valkey Container/Service

[Container]
Image={{ immich_valkey_image }}
Volume={{ immich_valkey_volume }}:/data
Pod={{ immich_app_name }}.pod

[Service]
Restart=always
