---
theme: 'auto'

webauthn:
  disable: false
  enable_passkey_login: false

identity_validation:
  reset_password:
    jwt_secret: 'a_very_important_secret'

authentication_backend:
  file:
    path: '/config/{{ authelia_userdb_file }}'

access_control:
  default_policy: 'one_factor'
  rules:
    - domain: '*.{{ evilwoods_domain_name}}'
      policy: 'one_factor'

session:
  cookies:
    -
      domain: '{{ evilwoods_domain_name }}'
      authelia_url: 'https://{{ authelia_url }}'

storage:
  local:
    path: '/config/db.sqlite3'

notifier:
  smtp:
    address: 'smtp://smtp.protonmail.ch:587'
    username: 'admin@evilwoods.net'
    sender: 'Authelia <admin@evilwoods.net>'

identity_providers:
  oidc:
    jwks:
      -
        key: {{ '{{ secret "/run/secrets/' + authelia_oidc_jwks_private_key_name + '" | mindent 10 "|" | msquote }}'  }}
