[Unit]
Description={{ cloudflared_app_name }} container nservice

[Container]
AutoUpdate=registry
Image={{ cloudflared_image }}
Secret=cloudflared_tunnel_token,type=env,target=TUNNEL_TOKEN
Exec=tunnel run
Network=host

[Service]
EnvironmentFile={{ evilwoods_runner_home }}/.config/bws/env
ExecStartPre=/usr/bin/bash -c "bws secret get {{ cloudflare_bw_token_id }} | jq -r '.value' | podman secret create --replace cloudflared_tunnel_token -"
Restart=always

[Install]
WantedBy=default.target
