[Unit]
Description=Retreive Kitchenowl Secrets
# Need to wait for network but user services cannot wait on system services like network-online.target
PartOf={{ kitchenowl_app_name }}.service
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_runner_home }}/.config/bws/env
ExecStart=/usr/bin/bash -c "bws secret get {{ evilcloud_kitchenowl_jwt_secret }} | jq -r '.value' | podman secret create --replace kitchenowl_jwt_secret -"
RemainAfterExit=yes
