[Unit]
Description=Retreive Kitchenowl Secrets
# Need to wait for network but user services cannot wait on system services like network-online.target
Wants=podman-user-wait-network-online.service
After=podman-user-wait-network-online.service

[Service]
Type=oneshot
EnvironmentFile={{ evilwoods_data_path }}/.config/bws/env
ExecStart=/usr/bin/bash -c "bws secret get 054de8ac-dc72-4fa4-b085-b2b700cbf3d1 | jq -r '.value' | podman secret create --replace kitchenowl_jwt_secret -"
RemainAfterExit=yes
